.behind-cursor[data-extension="Aki"] {
  position: fixed;
  display: block;
  border-color: #fff9c4;
  border-style: solid;
  border-width: 3px;
  -webkit-box-shadow: 0px 0px 15px -3px #fff9c4;
          box-shadow: 0px 0px 15px -3px #fff9c4;
  z-index: 2147483647;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transition-property: top, left, width, height, -webkit-transform;
  transition-property: top, left, width, height, -webkit-transform;
  transition-property: top, left, width, height, transform;
  transition-property: top, left, width, height, transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}
